@use '../styles/variables' as *;

:host {
  display: block;
  margin: 0;
  padding: 0;
}

.layout {
  min-height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: $spacing-md;
}
